table{
   border: 1px solid black;
}

tr, td {
   border: 0.5px solid red;
   width: 100px;
   height: 100px;
   text-align: center;
}

td:hover {
  background-color: yellow;
}

td:active {
  background: green;
}

#reset {
  width: 10%;
  height: 100px;
  float: left;
}

button{
  width: 60px;
  height: 60px;
  float: right;
}

#table{
  width: 50%;
  float: left;
}

#form{
  height: 200px;
  width: 25%;
  float left;
}

h3{
  float: right;
  /* display: inline; */
  width: 25%;
}
